<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Glasses manager</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/edit}" method="post" th:object="${glasses}">
  <input type="hidden" name="id"
         th:field="*{id}"/>
  <table>
    <tr>
      <td>Бренд:</td>
      <td><input type="text" name="brand" required
                 maxlength="255"
                 th:field="*{brand}"/></td>
    </tr>
    <tr>
      <td colspan="2">
        <div th:if="${#fields.hasErrors('brand')}"
             style="color: red">Некорректное значение бренда</div>
      </td>
    </tr>
    <tr>
      <td>Диоптрии:</td>
      <td><input type="text" name="diopters" required maxlength="10"
                 th:field="*{diopters}"/></td>
    </tr>
    <tr>
      <td colspan="2">
        <div th:if="${#fields.hasErrors('diopters')}"
             style="color: red">Некорректное значение диоптрий</div>
      </td>
    </tr>
    <tr>
      <td>Цвет оправы:</td>
      <td><input type="text" name="frameColor" required maxlength="255"
                 th:field="*{frameColor}"/></td>
    </tr>
    <tr>
      <td colspan="2">
        <div th:if="${#fields.hasErrors('frameColor')}"
             style="color: red">Некорректное значение цвета оправы</div>
      </td>
    </tr>
    <tr>
      <td>Цвет линз:</td>
      <td><input type="text" name="lensColor" required maxlength="255"
                 th:field="*{lensColor}"/></td>
    </tr>
    <tr>
      <td colspan="2">
        <div th:if="${#fields.hasErrors('lensColor')}"
             style="color: red">Некорректное значение цвета линз</div>
      </td>
    </tr>
    <tr>
      <td>Длина дужек:</td>
      <td><input type="text" name="lengthArches" required maxlength="10"
                 th:field="*{lengthArches}"/></td>
    </tr>
    <tr>
      <td colspan="2">
        <div th:if="${#fields.hasErrors('lengthArches')}"
             style="color: red">Некорректное значение длины дужек</div>
      </td>
    </tr>
    <tr style="text-align: center">
      <td colspan="2"><button type="submit">Сохранить запись</button></td>
    </tr>
  </table>
</form>
<th:block th:insert="~{blocks/footerBlock :: footer}"></th:block>
</body>
</html>